	* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}


/**************************************
Fonts
**************************************/

body,
textarea,
input {
	font-family: "Merriweather", Arial, serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
.navigation,
form label {
	font-family: "Amatic SC", Arial, serif;
	font-weight: 700;
}


/*************************************
General
**************************************/

#home-page,
header {
	background: url(../img/Digital-vs.-Analog-free-license-CC0.jpg) no-repeat center center;
	background-size: cover;
}

.translucent-layer {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.45);
}

/**************************************
Header
**************************************/

header {
	position: relative;
	height: 80px;
	width: 100%;
}

#name,
.nav {
	margin: 0;
	float: left;
	text-align: center;
}

#name {
	font-size: 2.5em;
	width: 100%;
}

.nav {
	display: inline;
	font-size: 1.3em;
	width: 33.33%
}

@media screen and (min-width: 436px) {
	header {
		display: inline-block;
		font-size: 110%;
	}
	
	#name {
		width: 40%;
		padding-top: 10px;
	}
	
	.nav {
		width: 20%;
	}
	
	#about {
		padding-top: 35px;
	}
	
	#poetry {
		padding-top: 15px;
	}
	
	#web {
		padding-top: 45px;
	}
}

@media screen and (min-width: 600px) {
	header {
		height: 120px;
		font-size: 160%;
	}
	
	#name {
		height: 120px;
		padding-top: 31px;
		width: 40%;
		text-align: center;
		line-height: .9em;
	}
	
	#about {
		padding-top: 45px;
	}
	
	#poetry {
		padding-top: 25px;
	}
	
	#web {
		padding-top: 55px;
	}
}

/**************************************
Home page
**************************************/
	#home-page {
		position: relative;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
	}
	
	.home {
		position: absolute;
		color: black;
	}
	
	#home-name {
		bottom: 5%;
		right: 7%;
		font-size: 3em;
		line-height: .9em;
		text-align: right;
	}
	
	#homepage h2 {
		bottom: 40%;
		right: 2%;
		font-size: 2.2em;
	}
	
	#homepage h3 {
		bottom: 60%;
		font-size: 2em;
		right: 20%;
		text-align: center;
		line-height: 0.9em;
	}

	
/************************
Poetry
*************************/
	#poetry-input {
		margin: 2% auto;
	}
	
	#poetry-input textarea {
		width: 320px;
	}
	
	/* Canvas ******************/
	#canvas-container {
		margin: 0 auto;
		width: 321px;
		text-align: center;
		border: 1px solid grey;
	}
	
	/* Color Select *******************/
	.controls {
		display: none;
		min-height: 60px;
		margin: 0 auto;
		/*	width: 600px;*/
		border-radius: 5px;
		overflow: hidden;
	}
	
	ul {
		list-style: none;
		margin: 0;
		float: left;
		padding: 10px 0 20px;
		width: 100%;
		text-align: center;
	}
	
	.controls ul li {
		display: inline-block;
		margin: 0 5px 10px;
		height: 54px;
		width: 54px;
		border-radius: 60px;
		cursor: pointer;
		border: 1px solid black;
		box-shadow: 0 3px 0 0 #222;
	}
	
	.black {
		background: #000;
	}
	
	.white {
		background: #fff;
	}
	
	/* Canvas Buttons *******************/
	#submit-canvas {}
	#new-canvas-button {
		display: none;
	}
	
	#save-canvas-button {
		
	}
	
/************************
Web Developer
*************************/
	#web-projects {
		width: 100%;
		padding: 5%;
	}
	
	#web-projects img {
		display: inline-block;
		min-width: 200px;
		max-width: 320px;
		width: 50%;
		height: auto;
		margin: 0 auto;
	}
	
/************************
Contact Form
*************************/
	form {
		min-width: 250px;
		max-width: 350px;
		margin: 2% auto;
		/*	align: center;*/
	}
	
	form label {
		font-size: 1.2em;
	}
	
	form h1 {
		text-align: center;
	}
	
	.contact input,
	.contact textarea {
		width: 100%;
		border-radius: 8px;
		padding: 5px 3px 3px 5px;
		font-size: 1em;
	}
	textarea {
		resize: vertical;
		min-height: 100px;
		max-height: 200px;
	}
	fieldset {
		margin-bottom: 5px;
		/*  background: forestgreen url("http://versporttvonline.com/wp-content/uploads/download-texture-background-green-hd-hd-wallpapers-20140823124408-53f88c9874a83.jpg");
	background-size: cover;*/
		border-radius: 8px;
	}
	.formHeading {
		padding: 2px 5px;
		color: white;
		background: black;
		border-radius: 50px;
		border: solid forestgreen 2px;
	}