	* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
	color: inherit;
}

ul {
	list-style: none;
}

.poem {
	display: none;
}

/**************************************
Fonts
**************************************/

body,
textarea,
input {
	font-family: "Merriweather", Arial, serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
.navigation,
form label {
	font-family: "Amatic SC", Arial, serif;
	font-weight: 700;
}


/*************************************
General
**************************************/

#home-page,
header {
	background: url(../img/Digital-vs.-Analog-free-license-CC0.jpg) no-repeat center center;
	background-size: cover;
}

.translucent-layer {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.45);
}

/**************************************
Header
**************************************/

header {
	position: relative;
	height: 80px;
	width: 100%;
/*	border-bottom: 2px solid black;*/
	box-shadow: 0px 2px 5px #908070 /*#708090*/;
}

#name,
.nav {
	margin: 0;
	float: left;
	text-align: center;
}

#name {
	font-size: 2.5em;
	width: 100%;
}

.nav {
	display: inline;
	font-size: 1.3em;
	width: 33.33%
}

@media screen and (min-width: 436px) {
	header {
		display: inline-block;
		font-size: 110%;
	}
	
	#name {
		width: 40%;
		padding-top: 10px;
	}
	
	.nav {
		width: 20%;
	}
	
	#about {
		padding-top: 35px;
	}
	
	#poetry {
		padding-top: 15px;
	}
	
	#web {
		padding-top: 45px;
	}
}

@media screen and (min-width: 600px) {
	header {
		height: 120px;
		font-size: 160%;
	}
	
	#name {
		height: 120px;
		padding-top: 31px;
		width: 40%;
		text-align: center;
		line-height: .9em;
	}
	
	#about {
		padding-top: 45px;
	}
	
	#poetry {
		padding-top: 25px;
	}
	
	#web {
		padding-top: 55px;
	}
}

/**************************************
Home page
**************************************/
#home-page {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;		
	width: 100%;
}

#columnLeft {
	position: absolute;
	width: 40%;
	height: 100%;
	top: 0;
	left: 0;
}

#columnRight {
	position: absolute;
	width: 60%;
	height: 100%;
	top: 0;
	left: 40%;
}
	
	.home {
		position: absolute;
		color: black;
		text-align: center;
		line-height: 0.9;
	}
	
	#home-name {
		bottom: 5%;
		left: 20%;
		font-size: 3em;
		line-height: .9em;
	}
	
	#home-poet {
		bottom: 35%;
		right: 20%;
		font-size: 2.2em;
	}
	
	#home-web {
		bottom: 60%;
		font-size: 2em;
		left: 30%;
	}

@media screen and (min-width: 400px) {
	
	.home {
		
	}
	
	#home-name {
		font-size: 4em;
	}
	
	#home-poet {
		font-size: 3em;
	}
	
	#home-web {
		font-size: 2.5em;
	}
}

@media screen and (min-width: 650px) {
	
	.home {
		
	}
	
	#home-name {
		font-size: 5em;
		left: 30%
	}
	
	#home-poet {
		font-size: 3.5em;
	}
	
	#home-web {
		font-size: 2.5em;
		right: 20%;
	}
	
}

	
/************************
Poetry
*************************/
	#poetry-input {
		margin: 2% auto;
	}
	
	#poetry-input textarea {
		width: 320px;
	}
	
	/* Canvas ******************/
	#canvas-container {
		margin: 0 auto;
		width: 321px;
		text-align: center;
		border: 1px solid grey;
	}
	
	/* Color Select *******************/
	.controls {
		display: none;
		min-height: 60px;
		margin: 0 auto;
		/*	width: 600px;*/
		border-radius: 5px;
		overflow: hidden;
	}
	
	ul {
		list-style: none;
		margin: 0;
		float: left;
		padding: 10px 0 20px;
		width: 100%;
		text-align: center;
	}
	
	.controls ul li {
		display: inline-block;
		margin: 0 5px 10px;
		height: 54px;
		width: 54px;
		border-radius: 60px;
		cursor: pointer;
		border: 1px solid black;
		box-shadow: 0 3px 0 0 #222;
	}
	
	.black {
		background: #000;
	}
	
	.white {
		background: #fff;
	}
	
	/* Canvas Buttons *******************/
	#submit-canvas {}
	#new-canvas-button {
		display: none;
	}
	
	#save-canvas-button {
		
	}
	
/************************
Web Developer
*************************/
	
/*
#projectWrap {
	max-width: 940px;
	margin: 0 auto;
	padding: 0 5%;
	clear: both;
	background-color: red;
*/
}

#web-projects {
	margin: 0;
	padding: 0;
}
	
#web-projects li {
	float: left;
	width: 45%;
	height: auto;
	margin: 2.5%;
  }

img {
	max-width: 100%;
}

@media screen and (min-width: 960px) {
	#web-projects {
		margin: 0 10%;
	}
	
	#web-projects li {
		width: 35%;
	}
}
	
/************************
Contact Form
*************************/
	form {
		min-width: 250px;
		max-width: 350px;
		margin: 2% auto;
		/*	align: center;*/
	}
	
	form label {
		font-size: 1.2em;
	}
	
	form h1 {
		text-align: center;
	}
	
	.contact input,
	.contact textarea {
		width: 100%;
		border-radius: 8px;
		padding: 5px 3px 3px 5px;
		font-size: 1em;
	}
	textarea {
		resize: vertical;
		min-height: 100px;
		max-height: 200px;
	}
	fieldset {
		margin-bottom: 5px;
		/*  background: forestgreen url("http://versporttvonline.com/wp-content/uploads/download-texture-background-green-hd-hd-wallpapers-20140823124408-53f88c9874a83.jpg");
	background-size: cover;*/
		border-radius: 8px;
	}
	.formHeading {
		padding: 2px 5px;
		color: white;
		background: black;
		border-radius: 50px;
		border: solid forestgreen 2px;
	}