/*
Colors:
Border: #908070

*/


* {
	box-sizing: border-box;
}

/**************************************
General
**************************************/

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-shadow: -2px -2px #000;
	color: transparent;
}

ul {
	list-style: none;
}

.poem {
	display: none;
}

.page-heading {
	text-align: center;
	font-size: 2.5em;
}

/**************************************
Fonts
**************************************/

body,
textarea,
input {
	font-family: "Merriweather", Arial, serif;
	font-weight: 400;
}

h1,
h2,
h3,
h4,
h5,
.navigation,
legend
{
	font-family: "Amatic SC", Arial, serif;
	font-weight: 700;
}

/*************************************
General
**************************************/

#home-page,
header {
	background: url(../img/Digital-vs.-Analog-free-license-CC0.jpg) no-repeat center center;
	background-size: cover;
}

.translucent-layer {
	position: absolute;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.45);
}

/**************************************
Header
**************************************/

header {
	position: relative;
	height: 80px;
	width: 100%;
/*	border-bottom: 2px solid black;*/
	box-shadow: 0px 2px 5px #908070 /*#708090*/;
}

#name,
.nav {
	margin: 0;
	float: left;
	text-align: center;
}

#name {
	font-size: 2.5em;
	width: 100%;
}

.nav {
	display: inline;
	font-size: 1.3em;
	width: 33.33%
}

@media screen and (min-width: 436px) {
	header {
		display: inline-block;
		font-size: 110%;
	}
	
	#name {
		width: 40%;
		padding-top: 10px;
	}
	
	.nav {
		width: 20%;
	}
	
	#about {
		padding-top: 35px;
	}
	
	#poetry {
		padding-top: 15px;
	}
	
	#web {
		padding-top: 45px;
	}
}

@media screen and (min-width: 600px) {
	header {
		height: 120px;
		font-size: 160%;
	}
	
	#name {
		height: 120px;
		padding-top: 31px;
		width: 40%;
		text-align: center;
		line-height: .9em;
	}
	
	#about {
		padding-top: 45px;
	}
	
	#poetry {
		padding-top: 25px;
	}
	
	#web {
		padding-top: 55px;
	}
}

/**************************************
Home page
**************************************/
#home-page {
	position: relative;
	top: 0;
	left: 0;
	height: 100%;		
	width: 100%;
}

#columnLeft {
	position: absolute;
	width: 40%;
	height: 100%;
	top: 0;
	left: 0;
}

#columnRight {
	position: absolute;
	width: 60%;
	height: 100%;
	top: 0;
	left: 40%;
}

.home {
	position: absolute;
	color: black;
	text-align: center;
	line-height: 0.9;
}

#home-name {
	bottom: 5%;
	left: 20%;		
	font-size: 3em;
	line-height: .9em;
}
	
	#home-poet {
		bottom: 35%;
		right: 20%;
		font-size: 2.2em;
	}
	
	#home-web {
		bottom: 60%;
		font-size: 2em;
		left: 30%;
	}

@media screen and (min-width: 400px) {
	
	.home {
		
	}
	
	#home-name {
		font-size: 4em;
	}
	
	#home-poet {
		font-size: 3em;
	}
	
	#home-web {
		font-size: 2.5em;
	}
}

@media screen and (min-width: 650px) {
	
	.home {
		
	}
	
	#home-name {
		font-size: 5em;
		left: 30%
	}
	
	#home-poet {
		font-size: 3.5em;
	}
	
	#home-web {
		font-size: 2.5em;
		right: 20%;
	}
	
}

	
/************************
Poetry
*************************/
#poetry-title-list {
	box-shadow: 0px 2px 5px #908070;
	border-radius: 20px;
	background-color: rgba(144, 128, 112, .3);
	padding: 0 5px 10px 15px;
	margin: 0 auto;
	max-width: 320px;
}

legend {
	font-size: 1.875em;
	margin: 0 auto 5px;
}

label,
input[type="radio"] {
	display: block;	
}

label {
	margin-left: 20px;
	padding: 3px 0;
}

input[type="radio"] {
	float: left;
	margin-top: 5px;
}

.selected-title {
	font-size: 1.1em;
	font-weight: 700;
}

#poetry-wrap {
	margin-bottom: 15px;
}

/*
#poetry-input {
	margin: 2% auto;
}
*/
	
	
/* Canvas ******************/

#canvas-container
{
	position: relative;
	margin: 0 auto;
	width: 321px;
	text-align: center;
	border: 1px solid grey;
}
	
	/* Color Select *******************/
	.controls {
		min-height: 60px;
		margin: 0 auto;
		border-radius: 5px;
		width: 100%;
		overflow: hidden;
	}
	
	.controls ul {
		list-style: none;
		margin: 0;
		float: left;
		padding: 10px 0 20px;
		width: 100%;
		text-align: center;
	}
	
	.controls ul li {
		display: inline-block;
		margin: 0 5px 10px;
		height: 54px;
		width: 54px;
		border-radius: 60px;
		cursor: pointer;
		border: 1px solid black;
		box-shadow: 0 3px 0 0 #222;
	}
	
	.black {
		background: #000;
	}
	
	.white {
		background: #fff;
	}
	
	/* Canvas Buttons *******************/
	#canvas-buttons {
		display: none;
	}
	
	

/* Poetry Text *******************/

.poem, 
#input-text 
{
	position: absolute;
	margin: 0 auto;
	text-align: left;
	font-size: 16px;
	left: 0;
}

.poem {
	z-index: -1;
	top: 45px;
}

#poetry-input {
	display: none;
}

#input-text {
	top: 0;
	width: 320px;
	min-height: 320px;
}

.poem-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	padding: 0 auto;
	font-size: 30px;
	text-align: center;
	z-index: -1;
}

@media screen and (min-width: 730px) {
	#poetry-wrap,
	#canvas-container {
		display: inline-block;
		float: left;
		height: 100%;
	}
	
	#poetry-wrap {
		margin-right: 2%;
		width: 53%;
	}
	
	#poetry-title-list {
		max-width: 360px;
	}
	
/*
	.controls {
		display: none;
	}
*/
	
}
/************************
Web Developer
*************************/

#web-projects {
	margin: 0;
	padding: 0;
}
	
#web-projects li {
	float: left;
	width: 45%;
	height: auto;
	margin: 0 2.5% 5%;
  }

img {
	max-width: 100%;
}

@media screen and (min-width: 960px) {
	#web-projects {
		margin: 0 10%; 
	}
	
	#web-projects li {
		width: 30%;
		margin: 0% 5% 5%;
	}
}
	
/************************
Contact Form
*************************/
	.contact form {
		min-width: 250px;
		max-width: 350px;
		margin: 2% auto;
		/*	align: center;*/
	}
	
/*
	form label {
		font-size: 1.2em;
	}
*/
	
	.contact form h1 {
		text-align: center;
	}
	
	.contact input,
	.contact textarea {
		width: 100%;
		border-radius: 8px;
		padding: 5px 3px 3px 5px;
		font-size: 1em;
	}
	.contact textarea {
		resize: vertical;
		min-height: 100px;
		max-height: 200px;
	}

	.contact fieldset {
		margin-bottom: 5px;
		/*  background: forestgreen url("http://versporttvonline.com/wp-content/uploads/download-texture-background-green-hd-hd-wallpapers-20140823124408-53f88c9874a83.jpg");
	background-size: cover;*/
		border-radius: 8px;
	}
	.formHeading {
		padding: 2px 5px;
		color: white;
		background: black;
		border-radius: 50px;
		border: solid forestgreen 2px;
	}