/**************************************
General
**************************************/

a {
	text-decoration: none;
	color: inherit;
}

a:hover {
	text-decoration: none;
	text-shadow: -2px -2px #000;
	color: transparent;
}

ul {
	list-style: none;
}

.poem {
	display: none;
}

.page-header {
	font-size: 2.3em;
}

#home-page,
#custom-header {
	background: url("../img/Digital-vs.-Analog-free-license-CC0.jpg") no-repeat center center;
	background-size: cover;
}

.translucent-layer {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.45);
}

.color-wrap {
	box-shadow: 2px 2px 5px #908070;
	border-radius: 20px;
	background-color: rgba(144, 128, 112, .3);
	margin: 0 auto 15px;
	padding: 10px 20px;
}

.color-wrap h2 {
	margin-top: 0;
	border-bottom: 1px solid #eee;
}

.white-wrap {
	margin: 0 auto;
	width: 360px;
	border: 1px solid rgba(144, 128, 112, .3);
	box-shadow: 2px 2px 5px #908070;
	border-radius: 8px;
}

.copyright {
	margin-top: 5px;
}

@media screen and (min-width: 768px) {
	.page-header {
		font-size: 3em;
	}
}


/**************************************
Fonts
**************************************/

body {
	font-family: "Merriweather", Arial, serif;
	font-weight: 400;
	color: #232323;
}

h1,
h2,
h3,
h4,
h5,
.navigation,
legend {
	font-family: "Amatic SC", Arial, serif;
	font-weight: 700;
}


/**************************************
Nav
**************************************/

#custom-header {
	position: relative;
	height: 85px;
	box-shadow: 0px 2px 5px #908070;
	width: 100%;
}

.header-text {
	position: relative;
	height: 100%;
	width: 100%;
	max-width: 1200px;
	margin: -10px auto;
}

.col-xs-12.header {
	top: -10px;
}

.col-xs-4.header {
	top: -35px;
	left: -25px;
}

#nav-name {
	text-align: center;
	font-size: 2.5em;
}

.nav-link {
	padding: 0 10px;
	font-size: 1.8em;
	text-align: center;
}

@media screen and (min-width: 768px) {
	#custom-header {
		height: 100px;
	}
	#nav-name {
		font-size: 4em;
		text-align: left;
		margin-left: 8%;
		margin-top: 28px;
	}
	.nav-link {
		text-align: center;
	}
	#nav-about {
		margin-top: 75px;
		font-size: 2.3em;
	}
	#nav-poetry {
		margin-top: 45px;
		font-size: 2.3em;
	}
	#nav-web {
		margin-top: 65px;
		font-size: 2.3em;
	}
}


/**************************************
Home page
**************************************/

#home-page {
	position: absolute;
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

.home {
	color: black;
	text-align: center;
	line-height: 0.9;
}

.home-row {
	margin: 0;
}

#home-blank {
	height: 18%;
}

#home-name {
	height: 30%;
}

#home-name h1 {
	font-size: 3.5em;
}

#home-poet {
	height: 20%;
}

#home-poet h2 {
	font-size: 2.2em;
}

#home-web {
	height: 25%;
}

#home-web h2 {
	font-size: 2em;
}


/* Home Page Responsive ***********/

@media screen and (min-width: 480px) {
	#home-blank {
		height: 25%;
	}
	#home-name h1 {
		font-size: 5.5em;
	}
	#home-poet h2 {
		font-size: 4em;
	}
	#home-web h2 {
		font-size: 3em;
	}
}

/**************************************
About
**************************************/

.color-wrap h4 {
	font-size: 1.4em;
	margin-bottom: 2px;
}

#profilePic {
	width: 40%;
	max-width: 200px;
	min-width: 150px;
	margin: 0 10px 5px 0;
}

@media screen and (max-width: 320px) {
	#profilePic {
		width: 100%;
	}
	
}

/*****************************
	Poetry
*****************************/

.poem {
	display: none;
}

#save-canvas-button {
	display: none;
}

.canvas-buttons {
	text-align: center;
	margin-right: 10px;
}

#poetry-wrap {
	box-shadow: 2px 2px 5px #908070;
	border-radius: 20px;
	background-color: rgba(144, 128, 112, .3);
	padding: 0 5px 10px 15px;
	width: 360px;
}

#poetry-title-list {
	margin: 0 20px;
}

legend {
	font-size: 1.875em;
	margin: 0 auto 5px;
}

label,
input[type="radio"] {
	display: block;
	padding-bottom: 1px
}

.radio label {
	padding-left: 0;
}

.selected-title {
	position: relative;
	top: 3px;
	font-size: 1.2em;
	color: #222;
	line-height: 1em;
	padding-bottom: 5px;
	text-shadow: 0px 0px 5px rgba(255, 255, 255, .8);
}

.credit {
	display: none;
	font-size: .8em;
	color: #232323;
}

.lit-mag {
	font-style: italic;
}



/* Poetry Modal ******************/

.modal { 
	margin: auto;
}

.modal-title {
	text-align: center;
}

#input-text {
	top: 0;
	width: 340px;
	min-height: 340px;
	resize: vertical;
	font-size: 16px;
}


/* Poetry Text *******************/

.poem {
	position: absolute;
	top: 45px;
	text-align: left;
	font-size: 16px;
	padding-left: 10px;
	margin-top: 10px;
	z-index: -1;
}

.poem-title {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	font-size: 30px;
	text-align: center;
	z-index: -1;
}


/* Color Select *******************/

.controls {
	min-height: 30px;
	width: 360px;
	margin: 0 auto;
/*	width: 100%;*/
	overflow: hidden;
}

.controls h2 {
	font-size: 1.875em;
	margin: 3px;
}

.controls ul {
	list-style: none;
	margin: 0;
	float: left;
	padding: 10px 0 5px;
	width: 100%;
	text-align: center;
}

.controls ul li {
	display: inline-block;
	margin: 0 10px 10px;
	height: 30px;
	width: 40%;
	border-radius: 90px;
	cursor: pointer;
}

.black {
	background: #000;
}

.white {
	background: #fff;
}

@media screen and (min-width: 768px) {
	.controls {
		margin-top: 30px;	
	}
	
	.controls ul li {
		display: inline-block;
		margin: 0 10px 10px;
		height: 40px;
		width: 80px;
		border-radius: 90px;
		cursor: pointer;
	}
}

/*****************************
	Footer
*****************************/

html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 80px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
	text-align: center;
}
