* {
	box-sizing: border-box;
}

body {
	font: 700 1em "Amatic SC";
	color: #000;	
	text-shadow: .1px .1px gray;
	background: linear-gradient(to top, #fff -160%, transparent, #fff 160%), url("https://static.pexels.com/photos/2000/nature-sky-field-path.jpg") no-repeat center;
	background-size: cover;
}

/*
#mainContainer {
	position: fixed;
	vertical-align: center;
	width: 100%;
	margin: 0 1%;
	height: 100%;
}

h1 {
	position: absolute;
	bottom: 1%;
	right: 0%;
	font-size: 7em;
	line-height: 105px;
	text-align: center;
	width: 250px;
}

h2 {
	position: absolute;
	bottom: 65%;
	right: 10%;
	font-size: 3.5em;
}

h3 {
	position: absolute;
	left: 0%;
	bottom: 45%;
	font-size: 4em;
}
*/

#mainContainer {
  position: fixed;
  margin: 0 10%;
  width: 80%;
  height: 100%;
}

h1 {
  position: absolute;
  line-height: .9em;
  margin: 0;
  padding: 0;
  bottom: 10%;
  right: 0%;
  font-size: 12vw;
  text-align: center;
}

h2 {
  position: absolute;
  top: 10%;
  right: 20%;
  font-size: 5.5vw /*3em*/;
}

h3 {
  position: absolute;
  top: 35%;
  left: 5%;
  font-size: 8vw /*4em*/;
}

ul {
  position: fixed;
  top: 1%;
  left: 1%;
  font-size: 3vw;
	padding: 1vw 1vw 1vw 5vw;
	border: 1.5px solid gray;
	background: lightgrey;
	border-radius: 10%;
}